[Unit]
Description=ARK Survival Ascended Dedicated Server (Island)
After=network.target

[Service]
Type=simple
LimitNOFILE=10000
User=steam
Group=steam
WorkingDirectory=/home/steam/Steam/steamapps/common/ARK Survival Ascended Dedicated Server/ShooterGame/Binaries/Win64
Environment=XDG_RUNTIME_DIR=/run/user/0
Environment="STEAM_COMPAT_CLIENT_INSTALL_PATH=/home/steam/Steam"
Environment="STEAM_COMPAT_DATA_PATH=/home/steam/Steam/steamapps/compatdata/2430930"
ExecStart=/home/steam/Steam/compatibilitytools.d/proton run ArkAscendedServer.exe Island_WP?listen?
Restart=on-failure
RestartSec=20s

[Install]
WantedBy=multi-user.target